[submodule "libs/awgraphics"]
	path = libs/awgraphics
	url = https://github.com/amulware/awgraphics.git
[submodule "libs/lidgren"]
	path = libs/lidgren
	url = https://github.com/amulware/lidgren-network-gen3.git
